<div>
  <button class="btn btn-link" (click)="onGoBack()"><< Retour</button>
  <div class="patient-pane">
    <div class="patient-info">
      <h1>{{ patient.lastName }} {{patient.firstName}}</h1>
      <label for="age">Âge</label>
      <p class="patient-age">{{ patient.age }} ans</p>
      <label for="sex">Sexe</label>
      <p class="patient-sex">{{ patient.sex }}</p>
      <div>
        <label for="drugs">Médicament(s)</label>
        <span *ngFor="let drug of patient.drugs; let i=index">
          <div>Nom : {{ drug.drug }}</div>
          <div>Code : {{ drug.code }}</div> 
        </span>
      </div>
      <button class="btn btn-success m-1" (click)="onModify()">Modifier</button>
      <button class="btn btn-danger m-1" (click)="onDelete()">Supprimer</button>
    </div>
  </div>
</div>
