<p class="text-center" *ngIf="patients.length <= 0">Aucun patient !</p>
<mat-list *ngIf="patients.length >= 0">
  <mat-list-item *ngFor="let patient of patients" >
    <mat-card>{{ patient.lastName }} {{ patient.firstName }}

    <a mat-raised-button color="accent" (click)="onPatientClicked(patient._id)">Détails</a>
    <button mat-raised-button color="primary" (click)="onModify(patient._id)">Modifier</button>
    <button mat-raised-button color="warn" (click)="onDelete(patient._id)">Supprimer</button></mat-card>
    
  </mat-list-item>
</mat-list>

<a  mat-raised-button color="primary" routerLink="/new-patient" routerLinkActive="active">Ajouter un patient</a>

<a mat-raised-button color="basic" routerLink="/doctors" routerLinkActive="active">Liste docteurs</a>



