<div>
  <button mat-raised-button color="basic" (click)="onGoBack()"><< Retour</button>
</div>
<div class="col-sm-6 offset-sm-3 mt-2">
  <form [formGroup]="patientForm">
    <legend>Informations patient</legend>
    <mat-form-field>
      <label>Nom</label>
      <input matInput type="text" id="lastName" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
      <label>Prénom</label>
        <input matInput type="text" id="firstName" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <label>Âge</label>
    <input matInput type="number" id="age" formControlName="age" min="0">
    </mat-form-field>
    <mat-form-field>
      <label>Sexe</label>
      <input matInput type="text" id="sex" formControlName="sex">
    </mat-form-field>

    <legend>Médicament(s)</legend>
      <div *ngIf="patient.drugs && patient.drugs.length >=0">
        <div *ngFor="let drug of patient.drugs; let i=index">
          <div (formGroupName)="i">
            <mat-form-field>
              <label>Nom</label>
              <input matInput type="text" id="drug" formControlName="drug">
            </mat-form-field>
            <mat-form-field>
              <label>Code</label>
              <input matInput type="text" id="code" formControlName="code">
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="removeDrug(i)">Supprimer</button>
          </div>
        </div>
      </div>
    <div formArrayName="drugs">
      <div *ngFor="let drug of drugs.controls; let i=index">
        <div [formGroupName]="i">
          <mat-form-field>
            <label>Nom</label>
            <input matInput type="text" id="drug" formControlName="drug">
          </mat-form-field>
          <mat-form-field>
            <label>Code</label>
            <input matInput type="text" id="code" formControlName="code">
          </mat-form-field>
          <button mat-raised-button color="warn" (click)="removeDrug(i)">Supprimer</button>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="addDrugs()">Ajouter</button>

    </div>
    
    
    

    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="patientForm.invalid">Valider</button>
    <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
