<div class="col-sm-6 offset-sm-3 mt-2">
  <form [formGroup]="patientForm">
    <legend>Information patient</legend>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text" id="lastName" formControlName="lastName" class="form-control">
    </div>
    <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control">
    </div>
    <div class="form-group">
      <label for="age">Âge</label>
      <input type="number" id="age" class="form-control" formControlName="age" min="0">
    </div>
    <div class="form-group">
      <label for="sex">Sexe</label>
      <select id="sex" class="form-control" formControlName="sex">
      <option value="F">F</option>
      <option value="M">M</option>
    </select>
    </div>


    <legend>Médicament(s)</legend>

      <div formArrayName="drugs">
        <div *ngFor="let drug of drugs.controls; let i=index">
          <div [formGroupName]="i">
            <label for="drugName">Nom</label>
            <input type="text" class="form-control" formControlName="drug">
            <label for="code">Code</label>
            <input type="text"  class="form-control" formControlName="code">
            <button class="btn btn-danger" (click)="removeDrug(i)">Supprimer</button>
          </div>
        </div>
        <button class="btn btn-success" type="button" (click)="addDrugs()">Ajouter</button>

      </div>

      <legend>Traitement(s)</legend>

      <div formArrayName="treatments">
        <div *ngFor="let treatment of treatments.controls; let i=index">
          <div [formGroupName]="i">
            <label for="start">Date de début</label>
            <input type="date" class="form-control" formControlName="start">
            <label for="end">Date de fin</label>
            <input type="date"  class="form-control" formControlName="end">
            <label for="text">Description</label>
            <input type="text"  class="form-control" formControlName="text">
            
            <div formGroupName="doctor">
              <legend>Docteur </legend>
              <div class="form-group">
               <label for="doctorLastName">Nom</label>
                <input type="text" class="form-control" formControlName="doctorLastName">
              </div>
              <div class="form-group">
                <label for="doctorFirstName">Prénom</label>
                 <input type="text" class="form-control" formControlName="doctorFirstName">
              </div>
              <div class="form-group">
              <label for="speciality">Spécialité</label>
                <input type="text" class="form-control" formControlName="speciality">
              </div>
            </div>

            <button class="btn btn-danger" (click)="removeTreatment(i)">Supprimer</button>
          </div>
        </div>
        <button class="btn btn-success" type="button" (click)="addTreatments()">Ajouter</button>

      </div>

    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="patientForm.invalid">Valider</button>
    <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>

</div>