<div class="col-sm-6 offset-sm-3 mt-2">
  <form [formGroup]="patientForm">
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text" id="lastName" formControlName="lastName" class="form-control">
    </div>
    <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control">
    </div>
    <div class="form-group">
      <label for="age">Âge</label>
      <input type="number" id="age" class="form-control" formControlName="age" min="0">
    </div>
    <div class="form-group">
      <label for="sex">Sexe</label>
      <select id="sex" class="form-control" formControlName="sex">
      <option value="F">F</option>
      <option value="M">M</option>
    </select>
    </div>
    
    <div class="form-group">
      <div formArrayName="drugs">
        <label for="drugs">Médicament(s)</label>
        <div class="form-group" *ngFor="let drugsControl of getDrugs().controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <button type="button" class="btn btn-success" (click)="onAddDrugs()">Ajouter un médicament</button>
      </div>
    </div>

    <div class="form-group"> 
      <div formArrayName="treatments">
        <label for="treatments">Traitement(s)</label>
        <div class="form-group" *ngFor="let treatmentsControl of getTreatments().controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <button type="button" class="btn btn-success" (click)="onAddTreatments()">Ajouter un traitement</button>
      </div>
    </div>

    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="patientForm.invalid">Valider</button>
    <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>